*{
    margin: 0;
    top: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
   }

body{
    background: blueviolet;
}

header {
    border: 1px solid black;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1;
    padding: 0 20px; /* Ajout d'un padding pour un meilleur espacement */

}

.logo {
    font-size: 2rem;
    color: #9C83F6;
    font-family: Calibri, sans-serif;
    font-weight: 500;
}

.bar {
    font-size: 1rem;
    color: #F5E5FF;
    font-family: Calibri, sans-serif;
    font-weight: 500;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 55px; /* La propriété gap suffit, margin-left supprimé */
}






.S1{
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    top: 400px;
    bottom: 0;
}

.P1{
    width: 100%;
    left: 0;
    right: 0;
    height: 700px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35px;
}

.P2{
    border: 5px inset gray;
    width: 75%;
    left: 0;
    right: 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
}

img{
    width: 100%;
    height: 400px;
}

h3 p{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}



.SM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    gap: 25px;

}

.master{
    width: 100%;
    height: 400px;
}

.P3{
    border: 5px inset gray;
    width: 35%;
    left: 0;
    right: 0;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}


.FO1{
    border: groove red;
    border-radius: 25px;
    width: 20%;
    height: 250px;
    position: relative;
    box-shadow: 0px 0px 5px 10px whitesmoke;

}

.FI{
    width: 100%;
    height: 250px;
}

#modifP2P1{
    width: 20%;
    height: 250px;
}

#modifP2P2{
    width: 100%;
    height: 200px;
}



@media  (max-width:700px) {
    *{
        margin: 0;
        top: 0;
        padding: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-decoration: none;
        box-sizing: border-box;
       }
    
       body{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }
    
       h1, h2, h3, h4{
        font-size: 16px;
       }
    
       .logo, .bar{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }
    
    
    
       header{
        min-height: min-content;
        display: flex;
        flex-direction: row;
       }
    
       nav{
        position: relative;
        flex-direction: column;
        gap: 10px;
       }

       .SM, #FON1, .P3, #modifP2P1{
        width: 100%;
       }

       .S1, .P1{
        display: flex;
        flex-direction: column;
        align-items: center;
       }

       .S1{
        position: relative;
        gap: 1500px;
       }




       
}



@media  (min-width:700px) and (max-width:1300px) {
    *{
        margin: 0;
        top: 0;
        padding: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-decoration: none;
        box-sizing: border-box;
       }
    
       body{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }
    
       h1, h2, h3, h4{
        font-size: 16px;
       }
    
       .logo, .bar{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       }
    
    
    
       header{
        min-height: min-content;
        display: flex;
        flex-direction: row;
       }
    
       nav{
        position: relative;
        flex-direction: column;
        gap: 10px;
       }

       .SM, #FON1{
        width: 100%;
       }

       .P3{
        width: 100%;
       }

       .S1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
       }

       .P1{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
       }

       .S1{
        position: relative;
        gap: 200px;
       }

       .P2{
        width: 100%;
       }




       
}




